$container: 86%;
$max-width: 1256px;
$breakpoint: 860px;

// colors

$white: rgb(255, 255, 255);
$brand-color: rgb(227, 184, 115);
$light-grey: rgb(237, 237, 237);
$mid-grey: rgb(149, 149, 149);
$dark-grey: rgb(54, 54, 54);
